* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
}
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
body * {
  z-index: 10;
}
.scroll-hidden {
  overflow-y: hidden;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100vw;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url("./Assets/Background\ 3\ cropped.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 10;
}
.hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 1260px;
}
.navbar-list a,
.navbar-list li {
  color: #333;
  text-decoration: none;

  list-style: none;
  font-size: 1.4rem;
}
.navbar-group__middle {
  width: 8rem;
  cursor: pointer;
  transition: width 0.5s;
}
.navbar-group__middle:hover {
  width: 9rem;
}
.navbar-group__middle img {
  max-width: 100%;
}
.navbar-group__left,
.navbar-group__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar-list__item {
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
  cursor: pointer;
}
.navbar-list__item:hover {
  border-bottom: 2px solid #333;
}
.hamburger {
  z-index: 120;
  right: 20px;
  width: 35px;
  height: 40px;
  position: fixed;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  display: none;
}
.hamburger .bar,
.hamburger::before,
.hamburger::after {
  z-index: 120;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin: 0.4rem 0px;
  background-color: #333;
}
.mobile-nav {
  height: 100%;
  width: 100vw;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 1000%;
  z-index: 115;
  transition: 0.4s ease;
}

.mobile-nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
  height: 20vh;
}
.fa-xmark {
  color: #f1f1f1;
  font-size: 3rem;
  margin-right: 35px;
  cursor: pointer;
}
.mobile-nav__header img {
  max-width: 180px;
}
.is-active {
  left: 0;
}
.isnt-active {
  display: none;
}
.mobile-nav__body {
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  z-index: 15;
}
.mobile-nav li,
.mobile-nav a {
  list-style: none;
  text-decoration: none;
}
.mobile-nav a {
  color: #f1f1f1;
  cursor: pointer;
  width: 12rem;
  text-align: center;
  padding: 10px 25px;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  border: 2px solid #f1f1f1;
  border-radius: 25px;
  transition: background-color 0.5s, color 0.25s;
}

.mobile-nav a:hover {
  background-color: #f1f1f1;
  color: #333;
}
.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content h1 {
  color: #f1f1f1;
  font-family: "League Gothic", sans-serif;
  font-size: 124px;
}
.content h3 {
  color: #f1f1f1;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 24px;
}
.hero-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
}
/* Featured Meals Styling */
.swiper {
  width: 50%;
}
.swiper-pagination-bullet {
  background-color: #333;
}
.pagination {
  margin-bottom: 50px;
}
.featured-meals {
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
}
.featured-meals__header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 28px;
  height: 15vh;
}
.card-content {
  width: 200px;
}
.card-content__img {
  margin: auto;
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.card-content__img img {
  margin: auto;
  border-radius: 25px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: 0.4s all;
  cursor: grab;
}
.card-content__img img:hover {
  opacity: 0.9;
  padding: 5px;
}
.card-content__details p {
  color: #333;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}
.card-content__details {
  margin-top: 10px;
}
.featured-meals__footer {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}
.chevron {
  cursor: pointer;
  color: #333;
  font-size: 2.5rem;
  font-weight: bold;
}

.featured-meals__footer button {
  background-color: #f3f3f3;
  border: none;
}
.about {
  background-color: #333;
  height: 65vh;
  width: 100%;
}
.about * {
  z-index: 1;
}
.about-container {
  margin: auto;
  max-width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about-img {
  width: 700px;
  height: 65vh;
  margin-right: 40px;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-description {
  max-width: 600px;
  height: 80%;
  font-family: "Architects Daughter", cursive;
  color: #f3f3f3;
}
.about-description__title {
  color: white;
  text-align: center;
  font-weight: 800;
  font-size: 28px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.about-description {
  width: 100%;
}
.about-description p {
  color: white;
  font-size: 18px;
  line-height: 1.6;
}
.testimonials {
  background-color: #f3f3f3;
  height: 65vh;
  width: 100%;
  padding-bottom: 50px;
}
.testimonials-title {
  font-size: 28px;
  color: #333;
  height: 15vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1056px;
  margin: auto;
  height: 40vh;
}
.reviews-tabs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 20.6rem;
}
.reviews-tab {
  height: 6.25rem;
  width: 15.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  border: 1px transparent solid;
  transition: 0.2s all ease-in;
  margin-left: 50px;
}
.reviews-tab:hover {
  margin: 10px;
  transform: scale(115%);
}
.reviews-tab__img {
  width: 4.6rem;
  height: 4.6rem;
}
.reviews-tab__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.reviews-tab__details {
  text-align: center;
  font-weight: bold;
  font-family: "Itim", cursive;
  line-height: 1.4;
}
.reviews-tab__active {
  border: none;
  background-color: white;
  box-shadow: 1px 1px 15px 1px rgb(0 0 0 / 0.5);
}
.reviews-content {
  display: none;
}
.reviews-content__container {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  height: 90%;
}
.reviews-content__title {
  font-size: 20px;
  margin-bottom: 1rem;
}
.reviews-content__rating {
  margin-bottom: 40px;
}
.reviews-content__description {
  font-size: 1.2rem;
  font-weight: 500;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  background-color: #333;
  color: #f3f3f3;
}
.email-phone-number p,
.fa-brands,
.copy-rights p,
.fa-copyright {
  color: white;
  text-align: center;
}
.social-media {
  color: white;
}

.email-phone-number {
  font-size: 20px;
}
.fa-brands {
  font-size: 25px;
  margin: 10px;
  transition: 0.3s all;
  cursor: pointer;
}
.copy-rights {
  font-size: 10px;
}
.fa-brands:hover {
  margin: 0px 15px;
  transform: scale(120%);
}
.reviews-content__active {
  display: block;
}
